{% extends 'base.html' %}

{% block content %}  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'googleoauth:get_files' %}">Files</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{request.GET.sheet_name}}</li>
    </ol>
  </nav>
  <form method="get" action="{% url 'googleoauth:view_chart' %}">
    <input type="hidden" name="sheet_id" value="{{request.GET.sheet_id}}">
    <input type="hidden" name="sheet_name" value="{{request.GET.sheet_name}}">
    <button type="submit" class="btn btn-sm btn-primary mb-3">View Google Chart</button>
  </form>
  <div class="card"> 
  	<table class="table table-bordered mb-0">
      <thead>
      <tr>
        <th>#</th>
        <th>A</th>
        <th>B</th>
      </tr>
    </thead>
    <tbody>
      {% for row in values %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ row.0 }}</td>
          <td>{{ row.1 }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>    
  </div>
{% endblock %}

