{% extends 'base.html' %}

{% block content %}
  <div class="card"> 
    <h4>{{user.company.name}}</h4>
  	<table class="table table-bordered mb-0">
      <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for file in files.files %}
        
        <tr>
          <td class="align-middle">{{ file.name }}</td>
          <td>
            {%if file.mimeType == "application/vnd.google-apps.spreadsheet" %}
            <form method="get" action="{% url 'company:chart' %}">
              <input type="hidden" name="sheet_id" value="{{file.id}}">
              <input type="hidden" name="sheet_name" value="{{file.name}}">
              <button type="submit" class="btn btn-sm btn-info">Chart</button>
            </form>
            {% endif %}
          </td>
        </tr>
        
      {% endfor %}
      </tbody>
    </table>    
  </div>
{% endblock %}