{% extends 'base.html' %}

{% load static %}
{% block css %}
<!-- <link rel="stylesheet" href="https://selectize.github.io/selectize.js/css/selectize.default.css" data-theme="default"> -->
    {% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'company:get_files' %}">Files</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{request.GET.sheet_name}}</li>
    </ol>
  </nav>
  <div class="card"> 
    <div class="card-body"> 
      <form id="#frm_task_edit" method="post" action="{% url 'company:chart' %}">
        <!-- {% csrf_token %} -->
        <!-- ['id', 'name', 'sdate','edate', 'duration', 'progress','dependencies']-->
        <!-- <input type="hidden" name="sheet_name" value="{{request.GET.sheet_name}}">
        <input type="hidden" name="sheet_id" value="{{request.GET.sheet_id}}"> -->
        <input type="hidden" name="row" id="row">
        <div class="form-row">
          <div class="form-group col-md-1">
            <label for="id">Task ID</label>
            <input type="text" class="form-control" name="id" id="id" onchange="updateTask('id')" readonly="">
          </div>
          <div class="form-group col-md-3">
            <label for="name">Task Name</label>
            <input type="text" class="form-control" name="name" id="name" onchange="updateTask('name')">
          </div>
          <div class="form-group col-md-2">
            <label for="sdate">Start Date</label>
            <input type="date" class="form-control" name="sdate" id="sdate" onchange="updateTask('sdate')">
          </div>
          <div class="form-group col-md-2">
            <label for="edate">End Date</label>
            <input type="date" class="form-control" name="edate" id="edate" onchange="updateTask('edate')">
          </div>
          <div class="form-group col-md-1">
            <label for="duration">Duration</label>
            <input type="number" class="form-control" name="duration" id="duration" onchange="updateTask('duration')">
          </div>
          <div class="form-group col-md-1">
            <label for="progress">Progress%</label>
            <input type="number" class="form-control" name="progress" id="progress" onchange="updateTask('progress')">
          </div>
          <div class="form-group col-md-2">
            <label for="dependencies">Dependencies</label>
            <input type="text" class="form-control" name="dependencies" id="dependencies" onchange="updateTask('dependencies')">
            <!-- <select id="dependencies" name="dependencies[]" multiple onchange="updateTask('dependencies')">
              <option value=""></option>
              {% for item in tasks %}<option value="{{item}}">{{item}}</option>{%endfor %}
            </select> -->
          </div>
          
        </div>
        <div id="ajaxspinner" role="status">
          <span class="sr-only">Saving...</span>
        </div>
        <!-- <button class="btn btn-success btn-sm">Update</button> -->
      </form>
      <div id="chart_div" class="mb-2"></div>
  	</div>
  </div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
<!-- <script src="https://selectize.github.io/selectize.js/js/selectize.js"></script> -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['gantt']});
  google.charts.setOnLoadCallback(onInit);

  // let $select = $('#dependencies').selectize();

  function daysToMilliseconds(days) {
    if (days) {
      // days = Number(days);
      return days * 24 * 60 * 60 * 1000;
    }    
  }

  function convertToDate(item) {
    if (item) return new Date(item);
    return null
  }

  function onInit() {
    $("form").trigger('reset');
    let tasks = {{items|safe}};
    drawChart(tasks)
  }

  function drawChart(tasks) {
    // let tasks = {{items|safe}};
    // tasks = tasks.slice(0,5); // [tasks[0]];
    tasks.forEach((d, i) => { 
      d[2] = convertToDate(d[2]);
      d[3] = convertToDate(d[3]);
      d[4] = daysToMilliseconds(d[4]);
      tasks[i] = d;
    });    

    let data = new google.visualization.DataTable();
    data.addColumn('string', 'Task ID');
    data.addColumn('string', 'Task Name');
    data.addColumn('date', 'Start Date');
    data.addColumn('date', 'End Date');
    data.addColumn('number', 'Duration');
    data.addColumn('number', 'Percent Complete');
    data.addColumn('string', 'Dependencies');

    data.addRows(tasks);

    let options = {
      height: data.getNumberOfRows() * 50,
    };

    let chart = new google.visualization.Gantt(document.getElementById('chart_div'));

    chart.draw(data, options);
    // click event
    google.visualization.events.addListener(chart, 'select', function() {
      if($.isEmptyObject(chart.getSelection())) {  
        // $('form').find("input:not([type='hidden'])").val("");
        $("form").trigger('reset');
        return;
      }
      
      const row = tasks[chart.getSelection()[0].row];
      // alert(tasks[row]);
      $('#row').val(chart.getSelection()[0].row);
      $('#id').val(row[0]);
      $('#name').val(row[1]);
      $('#sdate').val(moment(row[2]).format('YYYY-MM-DD'));
      $('#edate').val(moment(row[3]).format('YYYY-MM-DD'));
      $('#duration').val(row[4]/(24 * 60 * 60 * 1000));
      $('#progress').val(row[5]);
      // if (row[6]) {
      //   let selectize = $select[0].selectize;
      //   selectize.setValue(selectize.search(row[6]).items[0].id);
      //   alert(row[6]);
      // }
      $('#dependencies').val(row[6]);
      
    });
  }
  

  function updateTask(item) {
    // console.log(item);
    $("#ajaxspinner").addClass('spinner-border');
    $.post("{% url 'googleoauth:chart' %}", { sheet_id:"{{request.GET.sheet_id}}",row:$("#row").val(),
      column_name: item, data: $("#"+item).val(), csrfmiddlewaretoken: '{{ csrf_token }}'})
      .done(function(tasks) {
        // alert("Data Loaded: " + data);
        $("#ajaxspinner").removeClass('spinner-border');
        drawChart(tasks);
      });
  }
</script>
{% endblock %}